In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("university.db") #生成（链接）数据库
cursor = db.cursor() #连接到数据库的“指针”

In [3]:
cursor.execute("""CREATE TABLE IF NOT EXISTS students
(id integer PRIMARY KEY,
name text NOT NULL,
gender text NOT NULL,
age ineger NOT NULL);""") #创建表

#向表中插入数据 insert
cursor.execute("""INSERT INTO students(id, name, gender, age) VALUES(1, 'zoutj', 'male', 18)""")
cursor.execute("""INSERT INTO students(id, name, gender, age) VALUES(2, 'lisa', 'female', 19)""")
cursor.execute("""INSERT INTO students(id, name, gender, age) VALUES(3, 'lihua', 'male', 17)""")

db.commit() #保存更改

In [4]:
cursor.execute("""CREATE TABLE IF NOT EXISTS class
(cid integer PRIMARY KEY,
class_name text NOT NULL,
teacher text NOT NULL);""")

cursor.execute("""INSERT INTO class(cid, class_name, teacher) VALUES(1, 'ee', 'ligl')""")
cursor.execute("""INSERT INTO class(cid, class_name, teacher) VALUES(2, 'bdmi', 'chenzhen')""")

db.commit()

In [7]:
cursor.execute("""CREATE TABLE IF NOT EXISTS enrolled
(id integer NOT NULL,
cid integer NOT NULL,
grade float NOT NULL);""")

cursor.execute("""INSERT INTO enrolled(id, cid, grade) VALUES(1, 1, 40)""")
cursor.execute("""INSERT INTO enrolled(id, cid, grade) VALUES(2, 2, 80)""")
cursor.execute("""INSERT INTO enrolled(id, cid, grade) VALUES(3, 3, 80)""")

db.commit()

In [9]:
cursor.execute("SELECT students.id,students.name,class.cid,enrolled.grade FROM students,class,enrolled WHERE students.id = enrolled.id and enrolled.cid = class.cid and class.cid = 2")
#cursor.execute("SELECT students.id, students.name, students.gender, students.age, enrolled.class, enrolled.grade FROM students JION enrolled on students.id = enrolled.id)
print(cursor.fetchall()) #fetchall 得到所有结果

SyntaxError: EOL while scanning string literal (<ipython-input-9-2a8e35ab9383>, line 2)

In [ ]:
db.close() #关闭数据库